<mat-toolbar color="primary" *ngIf="whoAmI?.authenticated === true">

  <button mat-icon-button class="menu-responsive" aria-label="menu for mobile use">
    <mat-icon>menu</mat-icon>
  </button>

  <a mat-button routerLink="/bookmarks" routerLinkActive="active" title="Bookmarks" [class.selected]="isCurrentRoute('/bookmarks')">
    <mat-icon class="hide_mobile" aria-hidden="false" aria-label="bookmarks icon" fontIcon="bookmarks"></mat-icon> Bookmarks</a>
  <a mat-button routerLink="/mydms" routerLinkActive="active" title="Documents" [class.selected]="isCurrentRoute('/mydms')"><mat-icon class="hide_mobile" aria-hidden="false" aria-label="documents" fontIcon="description"></mat-icon> Documents</a>
  <a mat-button routerLink="/sites" routerLinkActive="active" title="Sites" [class.selected]="isCurrentRoute('/sites')"><mat-icon class="hide_mobile" aria-hidden="false" aria-label="sites security" fontIcon="security"></mat-icon> Sites</a>
  <span class="toolbar-spacer"></span>


  <mat-form-field class="search-field">
    <input type="search" matInput placeholder="Search..." aria-label="Search" [(ngModel)]="searchText" #search (ngModelChange)="onFieldChange($event)" [ngModelOptions]="{standalone: true}">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <span class="profile_picture">
    <img src="{{ whoAmI?.pictureUrl + '=s35'}}" alt="{{ whoAmI?.displayName }}" class="avatar" matTooltip="{{ whoAmI?.displayName }}">
  </span>



</mat-toolbar>



<mat-progress-bar *ngIf="showProgress" class="progress" mode="indeterminate" color="warn"></mat-progress-bar>
