<div class="navmenu">
    <div class="navcontent">
        <!-- INFO -->
        <div class="navinfo">
          <i class="{{modInfo?.classValue}}" aria-hidden="true"></i>&nbsp;{{modInfo?.displayName}}


        </div>

        <!-- ACTIONS -->
        <div class="navactions d-none d-sm-inline">
          <div class="search-area">
            <input type="text" placeholder="Search" class="searchBox" [(ngModel)]="searchText" #search (keyup)="onSearch(search.value)"/>
          </div>
        </div>
    </div>
</div>