{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "the purpose of this application is to provide centralized authentication",
    "title": "implements the HTTP API of the login-application.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://opensource.org/licenses/Apache-2.0"
    },
    "version": "1.0.0"
  },
  "host": "login.binggl.net",
  "basePath": "/api/v1",
  "paths": {
    "/appinfo": {
      "get": {
        "description": "meta-data of the application including authenticated user and version",
        "produces": [
          "application/json"
        ],
        "tags": [
          "appinfo"
        ],
        "summary": "provides information about the application",
        "operationId": "HandleAppInfo",
        "responses": {
          "200": {
            "description": "Meta",
            "schema": {
              "$ref": "#/definitions/Meta"
            }
          },
          "401": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          },
          "403": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          }
        }
      }
    },
    "/sites": {
      "get": {
        "description": "returns all the sites of the current loged-in user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "sites"
        ],
        "summary": "sites of current user",
        "operationId": "HandleGetSites",
        "responses": {
          "200": {
            "description": "UserSites",
            "schema": {
              "$ref": "#/definitions/UserSites"
            }
          },
          "401": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          },
          "403": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          },
          "404": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          }
        }
      },
      "post": {
        "description": "takes a list of sites and stores the supplied sites for the user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "sites"
        ],
        "summary": "stores the given sites",
        "operationId": "HandleSaveSites",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SiteInfo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "401": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          },
          "403": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          },
          "404": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          }
        }
      }
    },
    "/sites/users/{siteName}": {
      "get": {
        "description": "determine users who have access to a given site and return them",
        "produces": [
          "application/json"
        ],
        "tags": [
          "sites"
        ],
        "summary": "returns the users for a given site",
        "operationId": "HandleGetUsersForSite",
        "parameters": [
          {
            "type": "string",
            "description": "the name of the site",
            "name": "siteName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "UserList",
            "schema": {
              "$ref": "#/definitions/UserList"
            }
          },
          "401": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          },
          "403": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          },
          "404": {
            "description": "ProblemDetail",
            "schema": {
              "$ref": "#/definitions/ProblemDetail"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Meta": {
      "description": "Meta specifies application metadata",
      "type": "object",
      "properties": {
        "userInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "versionInfo": {
          "$ref": "#/definitions/VersionInfo"
        }
      },
      "x-go-package": "github.com/bihe/commons-go/handler"
    },
    "ProblemDetail": {
      "description": "\"Note that both \"type\" and \"instance\" accept relative URIs; this means\nthat they must be resolved relative to the document's base URI\"",
      "type": "object",
      "title": "ProblemDetail combines the fields defined in RFC7807",
      "properties": {
        "detail": {
          "description": "Detail is a human-readable explanation specific to this occurrence of the problem",
          "type": "string",
          "x-go-name": "Detail"
        },
        "instance": {
          "description": "Instance is a URI reference that identifies the specific occurrence of the problem",
          "type": "string",
          "x-go-name": "Instance"
        },
        "status": {
          "description": "Status is the HTTP status code",
          "type": "integer",
          "format": "int64",
          "x-go-name": "Status"
        },
        "title": {
          "description": "Title is a short, human-readable summary of the problem type",
          "type": "string",
          "x-go-name": "Title"
        },
        "type": {
          "description": "Type is a URI reference [RFC3986] that identifies the\nproblem type.  This specification encourages that, when\ndereferenced, it provide human-readable documentation for the problem",
          "type": "string",
          "x-go-name": "Type"
        }
      },
      "x-go-package": "github.com/bihe/commons-go/errors"
    },
    "SiteInfo": {
      "description": "SiteInfo holds data of a site",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-go-name": "Perm"
        },
        "url": {
          "type": "string",
          "x-go-name": "URL"
        }
      },
      "x-go-package": "github.com/bihe/login-go/internal/api"
    },
    "UserInfo": {
      "description": "UserInfo provides information about the currently logged-in user",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "x-go-name": "DisplayName"
        },
        "email": {
          "type": "string",
          "x-go-name": "Email"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-go-name": "Roles"
        },
        "userId": {
          "type": "string",
          "x-go-name": "UserID"
        },
        "userName": {
          "type": "string",
          "x-go-name": "UserName"
        }
      },
      "x-go-package": "github.com/bihe/commons-go/handler"
    },
    "UserList": {
      "description": "UserList holds the usernames for a given site",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Count"
        },
        "users": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-go-name": "Users"
        }
      },
      "x-go-package": "github.com/bihe/login-go/internal/api"
    },
    "UserSites": {
      "description": "UserSites holds information about the current user and sites",
      "type": "object",
      "properties": {
        "editable": {
          "type": "boolean",
          "x-go-name": "Editable"
        },
        "user": {
          "type": "string",
          "x-go-name": "User"
        },
        "userSites": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SiteInfo"
          },
          "x-go-name": "Sites"
        }
      },
      "x-go-package": "github.com/bihe/login-go/internal/api"
    },
    "VersionInfo": {
      "description": "VersionInfo is used to provide version and build",
      "type": "object",
      "properties": {
        "buildNumber": {
          "type": "string",
          "x-go-name": "Build"
        },
        "version": {
          "type": "string",
          "x-go-name": "Version"
        }
      },
      "x-go-package": "github.com/bihe/commons-go/handler"
    }
  }
}