onefrontend/.git
onefrontend/.build
onefrontend/.vscode
onefrontend/logs
onefrontend/web/angular.frontend/node_modules
onefrontend/web/angular.frontend/dist

mydms-go/.git
mydms-go/.build
mydms-go/.vscode
mydms-go/logs

login-go/.git
login-go/.build
login-go/.vscode
login-go/logs

commons-go/.git

bookmarks/.git
bookmarks/.build
bookmarks/.vscode
bookmarks/_logs
bookmarks/postman
bookmarks/uploads