internal/onefrontend/logs
internal/onefrontend/web/angular.frontend/node_modules
internal/onefrontend/web/angular.frontend/dist

internal/mydms/logs

internal/login/logs

internal/bookmarks/_logs
internal/bookmarks/postman
internal/bookmarks/uploads

_logs/
.git/
.github/
.build/
.vscode/
db/
dist/
testdata/
