onefrontend/.git
onefrontend/.build
onefrontend/.vscode
onefrontend/logs
onefrontend/web/angular.frontend/node_modules
onefrontend/web/angular.frontend/dist

mydms/.git
mydms/.build
mydms/.vscode
mydms/logs

login/.git
login/.build
login/.vscode
login/logs

bookmarks/.git
bookmarks/.build
bookmarks/.vscode
bookmarks/_logs
bookmarks/postman
bookmarks/uploads

_logs/
.build/
.vscode/
db/
dist/
testdata/
tools/
