# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


dist/


devserver
devserver.sh
live.devserver.sh
__devserver

.env
.env.container
.env.monorepo
.env.migrate
_logs/
upload/
caddy/Caddyfile.prod
proddb/

.DS_Store
litestream/litestream-integration.yml
litestream/litestream.yml

internal/crypter/testresult.pdf

tmp/
