<div class="bookmark_list" id="bookmark_list">

    {{range .Bookmarks}}
    <div class="bookmark_item hstack gap-3">
        <div class="p2">
            <span>
                {{ if .InvertFaviconColor }}
                <img width="24px" height="24px" alt="favicon" class="bookmark_favicon invert" src="/api/v1/bookmarks/favicon/{{ .ID }}">
                {{ else }}
                <img width="24px" height="24px" alt="favicon" class="bookmark_favicon" src="/api/v1/bookmarks/favicon/{{ .ID }}">
                {{ end }}

                {{ if (gt .ChildCount 0) }}
                    <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ .ChildCount}}
                    </span>

                {{ end }}
            </span>


            {{ if (eq .Type "Node") }}
            <a class="bookmark_name" href="{{ .URL }}">
            {{ else }}
            <a class="bookmark_name" href="/bm/~{{ trailingSlash (.Path) }}{{ .DisplayName }}">
            {{ end }}
            {{ .DisplayName }}</a>
        </div>
        <div class="p2 ms-auto"></div>

        <div class="p2">
            <div class="btn-group" role="group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"
                        hx-target="#modals-here"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                        hx-get="/bm/{{.ID}}"
                        ><i class="bi bi-pencil"></i> Edit</a></li>
                    <li><a class="dropdown-item delete" href="#"
                        hx-target="#modals-here"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                        hx-get="/bm/confirm/delete/{{.ID}}"
                        ><i class="bi bi-x"></i> Delete</a></li>
                </ul>
            </div>
        </div>

    </div>
    {{end}}

    <div id="modals-here"
        class="modal modal-blur fade"
        aria-hidden="false"
        tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

</div>

{{template "toast.html" . }}
