{{template "_layout.html" .}}

{{define "title"}}Search Bookmarks!{{end}}

{{define "application_navigation"}}
    <div class="application_name">
        <div>~ searching for: <span class="badge text-bg-success" style="font-size:small">{{ .Search }}</span></div>
    </div>
    <div class="application_version">
        <span class="badge text-bg-info"><i class="bi bi-git"></i> {{ .VersionString }}</span>

    </div>
{{end}}

{{define "application_search_field"}}
    <form class="w-100 me-3" role="search" method="GET">
        <div class="input-group">
            <span class="input-group-text search-field-prefix" id="search-addon"><i class="bi bi-search"></i></span>
            <input type="search" name="q" class="form-control search-field" placeholder="Search..." aria-label="Search" control-id="search-field" value="{{ .Search }}">
        </div>
    </form>
{{end}}

{{define "style"}}
<style type="text/css">
.search-field {
    background-color: #ec84ad;
    border: var(--bs-border-width) solid #ae1d56;
}
.search-field-prefix {
    background-color: #e2588e;
    border: var(--bs-border-width) solid #ae1d56;
}

</style>
{{end}}

{{define "content"}}
    <div class="bookmark_list">
        {{range .Bookmarks}}
        <div class="bookmark_item">
            <span>
            {{ if .InvertFaviconColor }}
            <img width="24px" height="24px" alt="favicon" class="bookmark_favicon invert" src="/api/v1/bookmarks/favicon/{{ .ID }}">
            {{ else }}
            <img width="24px" height="24px" alt="favicon" class="bookmark_favicon" src="/api/v1/bookmarks/favicon/{{ .ID }}">
            {{ end }}
            {{ if (gt .ChildCount 0) }}
                <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ .ChildCount}}
                </span>
            </span>
            {{ end }}

            <span class="badge rounded-pill text-bg-secondary bookmark-path">
                <a class="bookmark_path" href="/bookmarks{{ .Path }}">{{ .Path }}</a>
            </span>
            {{ if (eq .Type "Node") }}
            <a class="bookmark_name" href="{{ .URL }}">
            {{ else }}
            <a class="bookmark_name" href="/bookmarks{{ .Path }}/{{ .DisplayName }}">
            {{ end }}
            {{ .DisplayName }}</a>
        </div>
        {{end}}
    </div>
{{end}}
