## global section of Caddyfile
{
    http_port 80
}

## global snippets
# ---------------------------------------------------------------------------
(server) {
    header Server "dev.binggl.net server"
}
(proxy-transport) {
    transport http {
	    read_buffer 4096
    }
}

# ---------------------------------------------------------------------------

dev.binggl.net {
    tls /opt/caddy/certs/dev.binggl.net.pem /opt/caddy/certs/dev.binggl.net-key.pem

    import server
    encode gzip

    handle_path /bmsearch* {
        rewrite * /bookmarks/search{path}
        reverse_proxy http://bookmarks-3003:3000 {
            import proxy-transport
        }
    }

    handle_path /public* {
        rewrite * /public{path}
        reverse_proxy http://bookmarks-3003:3000 {
            import proxy-transport
        }
    }

    handle_path /403* {
        rewrite * /403
        reverse_proxy http://bookmarks-3003:3000 {
            import proxy-transport
        }
    }

    handle_path /api/v1/bookmarks* {
        rewrite * /api/v1/bookmarks{path}
        reverse_proxy http://bookmarks-3003:3000 {
            import proxy-transport
        }
    }

    handle_path /api/v1/mydms* {
        rewrite * /api/v1{path}
        reverse_proxy http://mydms-3002:3000 {
            import proxy-transport
        }
    }

    handle_path /api/v1/core* {
        rewrite * /api/v1{path}
        reverse_proxy http://core-3001:3000 {
            import proxy-transport
        }
    }

    handle_path /api/v1/sites* {
        rewrite * /api/v1/sites{path}
        reverse_proxy http://core-3001:3000 {
            import proxy-transport
        }
    }

    handle_path /gettoken* {
        reverse_proxy http://tokentest:3000 {
            import proxy-transport
        }
    }

    handle_path /oidc* {
        rewrite * /oidc{path}
        reverse_proxy http://core-3001:3000 {
            import proxy-transport
        }
    }

    handle /* {
        reverse_proxy http://frontend-dev:4200 {
            import proxy-transport
        }
    }

    log {
        output stderr
        level ERROR
    }
}
