html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
}

.appcontent {
    padding-top: 0px;
}

.contentArea {
    height: 100%;
    overflow: hidden;
}

.body-content {
    overflow: auto;
    height: 100vh;
    background-color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .item {
    text-align: center;
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .041875rem;
}

.application_error {
    padding: 20px;
}

.error_text {
    color: var(--bs-form-invalid-border-color);
}

.error_details {
    padding: 7px;
    background-color: #eeeeee;
    border: 1px dashed #999999;
    border-radius: 7px;
}