<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>bookmarks.binggl.net</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Central authentication for all my applications.">
  <meta name="author" content="Henrik Binggl">

  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/site.css" rel="stylesheet">
</head>
<body>


 <div class="container">

    <div class="row" style="padding-bottom: 40px; text-align:center;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 style="color:darkred">Application Error</h1>

			{{if .isError}}
				<div class="alert alert-danger" role="alert">
                    <i class="fa fa-times-circle">&nbsp;</i>
                    <strong>Error:&nbsp;</strong>
                    <span>{{ .error }}</span>
                </div>
			{{end}}

			{{if .isMessage}}
				<div class="alert alert-info" role="alert">
                    <i class="fa fa-info">&nbsp;</i>
                    <span>{{ .msg }}</span>
                </div>
			{{end}}

        </div>
        <div class="col-md-3"></div>
    </div>

</div> <!-- /container -->



  <footer class="footer hidden-md hidden-xs">
    <div class="container">
      <p class="text-muted"> <i class="fa fa-copyright" aria-hidden="true"></i> {{ .year }} Henrik Binggl | <i class="fa fa-lock"></i>  <b>{{ .appname }} application</b> | <i class="fa fa-code-fork"></i> <small>{{ .version }}</small> </p>
    </div>
  </footer>
</body>
</html>
