.document__icon {
    top: 10px;
    position: relative;
}

.save {
    background-color: #239B56;
    color: white;
}

.delete {
    background-color: #CB4335;
    color: white;
}

div.tags {
    padding-top: 15px;
    padding-bottom: 20px;
}

.tag {
    background-color: green;
    color: white;
}

.is-drop-over {
    font-style: italic;
    background-color: #cccccc;
    border-style: dashed;
    border-width: 3px;
    border-color: #999999;
    padding: 5px;
    border-radius: 5px;
}

.uploadfile {
    text-align: left;
}

.upload__zone {
    text-align: center;
}

.upload__zone_dd_text {
    font-style: italic;
    font-size: 1.2em;
}

.upload_file_link {
    color:white;
    text-decoration: none;
}

.upload_file_link:hover {
    text-decoration: underline;
}

.upload__file {
    padding-top: 20px;
}

.drop-container {
    padding: 10px;
}

[hidden] {
    display: none;
}

.upload_section {
  padding-top: 25px;
  padding-bottom: 15px;
}

.upload_link {
  font-size: 1.3em;
}

.encpass_set {
    font-weight: bold;
    color: red;
}


.tag-list {
    width: 100%;
}

.file-input {
    display: none;
  }

.download_icon {
    font-size: xx-large;
    vertical-align: sub;
}

.clear_download_icon {
    padding-left: 10px;
    vertical-align: text-bottom;
}

.clear_upload_link {
    color: #999;
}

.upload_button{
    font-size: x-large;
}

.document_title {
    width: 90vw;
}
