<div class="application_title">
  <div>
    &nbsp;&nbsp;~ documents
    <span class="font-monospace version">{{ appInfo?.versionInfo?.version }}-{{ appInfo?.versionInfo?.buildNumber }}</span>
  </div>
</div>


<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="document__icon"><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></div>

    <mat-card-title>
        <mat-form-field color="warn" hintLabel="Specify the name of the document" class="document_title">
            <input matInput name="documentTitle" placeholder="Document title" [(ngModel)]="documentTitle">
        </mat-form-field>
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="upload__zone upload_section">

      <input #uploadFile type="file" class="file-input"
            (change)="onFileSelected($event.target.files[0])" #fileUpload>

      <div class="file-upload">

        <div class="uploadfile" *ngIf="uploadFileName != ''">
          <div class="upload_link">
              <mat-icon aria-hidden="false" aria-label="download" fontIcon="download" class="download_icon"></mat-icon>&nbsp;<a class="upload_file_link" target="_blank" href="{{ baseApiUrl }}/api/v1/mydms/file/?path={{ encodedUploadFileName }}">{{ uploadFileName | ellipsis:50 }}</a>
              <a  (click)="onClearUpload()" class="clear_upload_link"><mat-icon aria-hidden="false" aria-label="close" fontIcon="close" class="clear_download_icon"></mat-icon></a>
          </div>
        </div>


        <mat-accordion *ngIf="uploadFileName === ''">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Encrypt the uploaded payload?
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Encryption settings:
              </mat-panel-title>
              <mat-panel-description>
                <span *ngIf="encPassword === ''" >Currently no password set</span>
                <span *ngIf="encPassword !== ''" class="encpass_set">Encryption password set</span>
              </mat-panel-description>
            </mat-expansion-panel-header>

              <mat-form-field color="warn" hintLabel="Encryption payload with password" class="document_password">
                  <input matInput name="encPassword" placeholder="Password" [(ngModel)]="encPassword">
              </mat-form-field>
              &nbsp;&nbsp;
              <mat-form-field color="warn" hintLabel="Payload is already encrypted" class="document_initpassword">
                  <input matInput name="initPassword" placeholder="Initial Password" [(ngModel)]="initPassword">
              </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
        <br *ngIf="uploadFileName === ''"/>

        <button *ngIf="uploadFileName === ''" mat-raised-button color="accent" (click)="fileUpload.click()" class="upload_button">
          <mat-icon aria-hidden="false" aria-label="upload_file" fontIcon="upload_file"></mat-icon>
          &nbsp;Select file
        </button>

      </div>

    </div>

    <div *ngIf="showAmount === true">
      <mat-form-field color="warn" hintLabel="Optional amount">
          <input type="number"name="documentAmount"  matInput placeholder="Amount" [(ngModel)]="documentAmount">
      </mat-form-field>
    </div>

    <div class="invoice_number">
      <mat-form-field color="warn" hintLabel="Optional invoice number" >
          <input matInput  name="invoiceNumber" placeholder="Invoice Number" [(ngModel)]="invoiceNumber">
      </mat-form-field>
    </div>

    <div class="tags">

      <form>
        <mat-form-field class="tag-list" appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-chip-grid #chipGridTag aria-label="tags">
            <mat-chip-row *ngFor="let item of selectedTags" (removed)="removeTag(item)">
              {{item}}
              <button matChipRemove [attr.aria-label]="'remove ' + item">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Tag..." #tagInput [formControl]="tagCtrl"
            [matChipInputFor]="chipGridTag" [matAutocomplete]="autoTag"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)"/>

          <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="selectedTag($event)">
            <mat-option *ngFor="let item of filteredTags" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


      <form>
        <mat-form-field class="tag-list" appearance="fill">
          <mat-label>Senders</mat-label>
          <mat-chip-grid #chipGridSender aria-label="senders">
            <mat-chip-row *ngFor="let item of selectedSenders" (removed)="removeSender(item)">
              {{item}}
              <button matChipRemove [attr.aria-label]="'remove ' + item">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Sender..." #senderInput [formControl]="senderCtrl"
            [matChipInputFor]="chipGridSender" [matAutocomplete]="autoSender"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addSender($event)"/>

          <mat-autocomplete #autoSender="matAutocomplete" (optionSelected)="selectedSender($event)">
            <mat-option *ngFor="let item of filteredSenders" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </form>

    </div>

    <!--









  -->
  </mat-card-content>

  <mat-card-actions align="end">
      <button mat-raised-button (click)="onCancel()">Cancel</button>
      <span *ngIf="!isNewDocument">&nbsp;</span><button *ngIf="!isNewDocument" mat-raised-button (click)="onDelete()" color="warn">Delete</button>
      &nbsp;<button mat-raised-button (click)="onSave()" color="primary" [disabled]="!isFormValid()" >Save</button>
  </mat-card-actions>

</mat-card>
