<div>
    <mat-progress-spinner
        *ngIf="showProgress"
        mode="indeterminate"
        class="progress"
        color="accent"
        [strokeWidth]="7"
        [diameter]="40">
    </mat-progress-spinner>
    
</div>

<!-- global navigation-->
<div class="col-nav nav-section" [class.col-nav-expand]="navExpanded" [class.col-nav-small]="!navExpanded">
    
    <div class="nav-item nav-item-small" [class.nav-item-expand]="navExpanded" [class.nav-item-small]="!navExpanded">
        <a class="headerLink" routerLink="/" title="Home"><i class="fa fa-circle-o" aria-hidden="true"></i>
        <span class="nav-item-description" *ngIf="navExpanded">One Frontend</span>
        </a>
    </div>

    <div class="nav-item" [class.selected]="isCurrentRout('/bookmarks')" [class.nav-item-expand]="navExpanded" [class.nav-item-small]="!navExpanded">
        <a class="headerLink" routerLink="/bookmarks" routerLinkActive="active" title="Bookmarks"><i class="fa fa-bookmark"
                aria-hidden="true"></i>
        <span class="nav-item-description" *ngIf="navExpanded">Bookmarks</span>
        </a>
    </div>

    <div class="nav-item" [class.selected]="isCurrentRout('/mydms')" [class.nav-item-expand]="navExpanded" [class.nav-item-small]="!navExpanded">
        <a class="headerLink" routerLink="/mydms" routerLinkActive="active" title="Documents"><i class="fa fa-file"
                aria-hidden="true"></i>
        <span class="nav-item-description" *ngIf="navExpanded">Documents</span>    
        </a>

        <div *ngIf="navExpanded" class="amount_toggle">
            <mat-slide-toggle
                class="amount_toggle"
                [checked]="showAmount"
                (change)="showAmountToggle($event)">
                <span class="amount_toggle_text"><i class="fa fa-eur" aria-hidden="true"></i>&nbsp;show amount</span>
            </mat-slide-toggle>
        </div>

    </div>

    <div class="nav-item" [class.selected]="isCurrentRout('/sites')" [class.nav-item-expand]="navExpanded" [class.nav-item-small]="!navExpanded">
        <a class="headerLink" routerLink="/sites" routerLinkActive="active" title="Sites"><i class="fa fa-shield"
                aria-hidden="true"></i>
        <span class="nav-item-description" *ngIf="navExpanded">Sites</span>      
        </a>
    </div>

    <div class="nav-item profile" [class.nav-item-expand]="navExpanded" [class.nav-item-small]="!navExpanded">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <div *ngIf="navExpanded" class="nav-item-user">
            <a class="userProfile" href="https://login.binggl.net/logout" matTooltip="{{ appData?.userInfo?.email }}">Logout: {{ appData?.userInfo?.displayName }}</a>
        </div>


        <div *ngIf="navExpanded" class="nav-item-version">
            <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} Henrik.Binggl<br/>
            <span  class="fa fa-code-fork"></span>&nbsp;<span style="color:indigo">{{ appData?.versionInfo?.version + "-" + appData?.versionInfo?.buildNumber | ellipsis:25}}</span>
            <br/>ui: <span style="color:darkviolet">{{ appData?.uiRuntime }}</span>
        </div>

    </div>

    <div class="navbar" (click)="toggleNavbar()">
        <div class="expand-navbar" *ngIf="!navExpanded">
            <i class="fa fa-2x fa-angle-double-right" aria-hidden="true"></i>
        </div>
        <div class="expand-navbar" *ngIf="navExpanded">
            <i class="fa fa-2x fa-angle-double-left" aria-hidden="true"></i>
        </div>
    </div>

</div>