.documents {
  display: block;
  margin-bottom: 30px;
}

.document {
    padding: 2px;
    min-height: 180px;
    min-width: 290px;
    margin-bottom: 1px;
    text-align: left;
    display: inline-block;
}

.download {
  top: 7px;
  position: absolute;
  left: 3px;
}

.download_icon {
  color: #999999;
}

/* .add {

    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 30px;

} */

.add {
  cursor: pointer;
  position: fixed;
  top: 2px;
  right: 10px;
  height: 40px;
  z-index: 99;
}

.show_more_results {
  min-height: 150px;
  text-align: center;
}

.no_search_results {
  text-align: center;
}

.more__results {
    background-color: #FF9800;
}

.clear__search {
    background-color: #6C3483;
    color: white;
}

.sender-tag {
  font-size: 1.2em;
  color: #D28140;
}

.tag {
  font-size: 1.2em;
  color: #495F75;
}


.document_card {
  max-width: 450px;
  display: inline-block;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 370px;
  min-height: 170px;
  text-align: left;
}

.document_card_title {
  color: black;
  font-size: 20px;
  margin-left: 40px;
  top: -6px;
  position: relative;
}

.document_card_title:hover {
  cursor: pointer;
}

.document_card_footer {
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  padding: 5px;
  text-align: right;
  color: #999999;
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.senders {
 padding-bottom: 2px;
}

.tags {
  padding-bottom: 2px;
}


.amount {
  position: absolute;
  left: 9px;
  bottom: 5px;
  font-weight: bold;
  font-size: 1.3em;
  color: #3AA677;
}

.application_title {
  display: block;
  padding: 10px;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  background-color: #fff6e2;
  border-bottom: dotted 1px #cccccc;
  margin-bottom: 19px;
}

.version_info {
  position: relative;
  top: -18px;
  font-size: 0.9em;
}

.document_cards {
  text-align: center;
}

.invoice-number-element {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.invoice-number {
  font-size: 1.0em;
  font-weight: bold;
  color: #333333;
  font-style: italic;
  font-family: 'Roboto Mono', monospace;
}
.invoice-number:hover {
  background-color:plum;
  padding: 2px;
}
