.appcontent {
  padding-top: 0px;
}

.contentArea {
  height:100%;
  overflow:hidden;
}

.body-content {
  overflow: auto;
  height: 100vh;
  background-color: #ffffff;
  padding-left:0px;
  padding-right:0px;
}

.col-main {
  flex: 1;
}

.col-nav-small {
  flex: 0 0 50px;
  }
