<div class="application_title">
    <div>
      mydms:/
    </div>

    <div class="float-right version_info d-none d-sm-block">
      {{ appInfo?.versionInfo?.version }}-{{ appInfo?.versionInfo?.buildNumber }}
    </div>
</div>

<mat-card>

    <mat-card-header class="document_heading">
        <div mat-card-avatar class="document__icon"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></div>
        <mat-card-title class="document_heading">
            <mat-form-field color="warn" hintLabel="Specify the name of the document" class="document_title">
                <input matInput name="documentTitle" placeholder="Document title" [(ngModel)]="documentTitle">
            </mat-form-field>


        </mat-card-title>

    </mat-card-header>


    <mat-accordion *ngIf="uploadFileName === ''">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Encrypt the uploaded payload?
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Encryption settings:
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="encPassword === ''" >Currently no password set</span>
              <span *ngIf="encPassword !== ''" class="encpass_set">Encryption password set</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

            <mat-form-field color="warn" hintLabel="Encryption payload with password" class="document_password">
                <input matInput name="encPassword" placeholder="Password" [(ngModel)]="encPassword">
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field color="warn" hintLabel="Payload is already encrypted" class="document_initpassword">
                <input matInput name="initPassword" placeholder="Initial Password" [(ngModel)]="initPassword">
            </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>

    <div class="upload__zone upload_section">
            <div class="drop-container" [hidden]="uploadFileName != ''"
                ngFileDrop
                (uploadOutput)="onUploadOutput($event)"
                [uploadInput]="uploadInput"
                [ngClass]="{ 'is-drop-over': dragOver }">
                <span class="upload__zone_dd_text">Upload Drag &amp; Drop Zone</span>


                <div class="upload__file">
                    <input type="file" #fileUpload
                        (click)="fileUpload.value = ''"
                        ngFileSelect (uploadOutput)="onUploadOutput($event)"
                        [uploadInput]="uploadInput" style="display: none;">

                    <button mat-raised-button class="upload" (click)="fileUpload.click()">Select file</button>

                </div>

            </div>

            <div class="uploadfile" *ngIf="uploadFileName != ''">
                <div class="pull-left">
                  <span class="upload_link">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;<a target="_blank" href="{{ baseApiUrl }}/api/v1/file/?path={{ encodedUploadFileName }}">{{ uploadFileName | ellipsis:50 }}</a>
                  </span>
                </div>
                <div class="pull-right">
                  <i class="fa fa-times" aria-hidden="true" (click)="onClearUploadedFile()"></i>
                </div>
                <br/>
            </div>
    </div>



    <mat-card-content>
        <div *ngIf="showAmount === true">
            <mat-form-field color="warn" hintLabel="Optional amount">
                <input type="number"name="documentAmount"  matInput placeholder="Amount" [(ngModel)]="documentAmount">
            </mat-form-field>
        </div>

        <div class="invoice_number">
            <mat-form-field color="warn" hintLabel="Optional invoice number" class="document_invoicenumber">
                <input matInput  name="invoiceNumber" placeholder="Invoice Number" [(ngModel)]="invoiceNumber">
            </mat-form-field>
        </div>

        <div class="tags">


          <mat-form-field class="tag-list">
            <mat-chip-list #senderList aria-label="Sender selection">
              <mat-chip
                *ngFor="let item of selectedSenders"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeSender(item)">
                {{item}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                name="sender"
                placeholder="Select Sender..."
                #tagInput
                [formControl]="senderCtrl"
                [matAutocomplete]="autoSender"
                [matChipInputFor]="senderList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addSender($event)">
            </mat-chip-list>
            <mat-autocomplete #autoSender="matAutocomplete" (optionSelected)="selectedSender($event)">
              <mat-option *ngFor="let item of filteredSenders" [value]="item">
                {{item}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field class="tag-list">
            <mat-chip-list #tagList aria-label="Tag selection">
              <mat-chip
                *ngFor="let item of selectedTags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeTag(item)">
                {{item}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                name="tag"
                placeholder="Select Tag..."
                #tagInput
                [formControl]="tagCtrl"
                [matAutocomplete]="autoTag"
                [matChipInputFor]="tagList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
            <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="selectedTag($event)">
              <mat-option *ngFor="let item of filteredTags" [value]="item">
                {{item}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button class="pull-right save" (click)="onSave()" [disabled]="!isFormValid()" >Save</button>
        <button *ngIf="!isNewDocument" mat-raised-button class="pull-right delete" (click)="onDelete()">Delete</button>
    </mat-card-actions>

</mat-card>
