<div class="dashboard">

  <div class="application_title">
    <div>
      &nbsp;&nbsp;~ sites
      <span class="font-monospace version">{{ appInfo?.versionInfo?.version }}-{{ appInfo?.versionInfo?.buildNumber }}</span>
    </div>
  </div>

  <mat-card class="dashboard_card" *ngFor="let item of userInfo?.userSites; let i = index" id="{{ item.id }}" >
    <mat-card-header>
      <mat-card-title>
        <a class="dashboard_card_title" href="{{ item.url }}" target="_blank">{{ item.name | ellipsis: 20}}</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="dashboard_card_content">
        <mat-icon class="dashboard_site_link_icon">link</mat-icon>
        &nbsp;<a class="dashboard_site_link" href="{{ item.url }}" target="_blank">{{ item.url | ellipsis:25 }}</a>
      </div>
    </mat-card-content>
    <mat-card-footer class="dashboard_card_footer">
      <span>
        <span class="permission" *ngFor="let perm of item?.permissions"><i class="fa fa-hashtag tag" aria-hidden="true"></i>{{ perm | ellipsis: 15 }}</span>
      </span>
    </mat-card-footer>
  </mat-card>

  <button *ngIf="userInfo?.editable" mat-fab color="accent" class="edit" (click)="edit()"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></button>
</div>
