.heading {
  display: block;
  padding: 10px;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.edit {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.dashboard {
  display: block;
}

.dashboard_card {
  max-width: 400px;
  display: inline-block;
  margin: 20px;
  min-width: 280px;
  min-height: 150px;
}

.dashboard_card_title {
  display: inherit;
  color:white;
  text-decoration: none;
}

.dashboard_card_title:hover {
  text-decoration: underline;
  cursor: hand;
}

.dashboard_card_content {
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
}

.dashboard_site_link {
  color: white;
  text-decoration: none;
}

.dashboard_site_link:hover {
  text-decoration: underline;
}

.dashboard_site_link_icon {
  vertical-align: text-bottom;
}

.dashboard_card_footer {
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.0em;
  padding: 5px;
  text-align: right;
  color: #777777;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.permission {
  padding: 2px;
  margin-right: 2px;
  color: #eeeeee;
  font-family: 'Roboto Mono', monospace;
}

.tag {
  color: #999999;
}
