<div>
  <div class="edit_container">
    <div class="heading">
      <p>Edit the data in pure JSON format.</p>
    </div>
    <div class="content">
        <textarea class="editjson" [(ngModel)]="jsonPayload" >{{ jsonPayload }}</textarea>
    </div>
  </div>


  <a routerLink="/sites"><button mat-fab color="primary" class="home"><i class="fa fa-home" aria-hidden="true"></i></button></a>

  <button *ngIf="isEditable" mat-fab color="warn" class="save" (click)="save()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
</div>
