.bookmark-form {
  padding: 10px;
  /* width: 100%; */
}

.edit_bookmark_container {
  display: flex;
  flex-direction: column;
}

.edit_bookmark_container > * {
  width: 100%;
  height: 100%;
}

.radio {
  padding-right: 10px;
}

.create_bookmark_layout {
  display: flex;
  justify-content: space-between;
}

.dialog-form-input {
  font-size: 1.0em;
  padding: 2px;
}

@media (max-width: 575.98px) {

  .dialog-form-input {
    font-size: 1.5em;
    padding: 5px;
  }
}
