<div class="edit_bookmark_layout">
  <h1 mat-dialog-title *ngIf="bookmark.id === ''">Create a new bookmark</h1>
  <h1 mat-dialog-title *ngIf="bookmark.id !== ''">Update bookmark // {{ bookmark.displayName }}</h1>

  <mat-progress-bar class="progress_dialog_bar" *ngIf="showProgress"
    mode="indeterminate"
    color="warn">
  </mat-progress-bar>

  <form class="bookmark-form" #bookmarkForm="ngForm" name="bookmarkForm">
    <div class="edit_bookmark_container">
      <div>
        <mat-radio-group id="rd-bookmark-type" [(ngModel)]="type" name="type" [disabled]="bookmark.id !== ''" class="dialog-form-input">
          <mat-radio-button id="rd-bookmark-node" value="Node" class="radio">Bookmark</mat-radio-button>
          <mat-radio-button id="rd-bookmark-folder" value="Folder">Folder</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="bookmark_edit_layout_name">
        <img class="bookmark_edit_layout_name_column1" class="bookmark_favicon_preview" [class.invert] = "bookmark.invertFaviconColor === 1"  src="{{ '/api/v1/bookmarks/favicon/' + faviconID }}" />

        <mat-form-field class="bookmark_edit_layout_name_column2">
          <input id="txt-bookmark-displaName" autocomplete="off" class="dialog-form-input" matInput placeholder="Name" name="displayName" [(ngModel)]="bookmark.displayName" required>
        </mat-form-field>

      </div>

      <div class="custom_favicon_section" *ngIf="type !== 'Folder'">
        <mat-form-field class="custom_favicon_section_textfield">
          <mat-icon matPrefix class="bookmark_link_prefix">link</mat-icon>
          <input id="txt-bookmark-url" autocomplete="off" class="dialog-form-input" matInput placeholder="URL" name="url" [(ngModel)]="bookmark.url" [required]="type !== 'folder'">
        </mat-form-field>
        <button class="custom_favicon_section_fetch_url" mat-mini-fab color="accent" (click)="fetchBaseURLFavicon()">
          <mat-icon class="bookmark_link_prefix" >restart_alt</mat-icon>
        </button>
      </div>


      <mat-form-field>
        <mat-label>Path</mat-label>
        <mat-select [(ngModel)]="selectedPath" name="selectedPath">
          <mat-option *ngFor="let path of data.absolutePaths" [value]="path" required>
            {{path}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox class="dialog-form-input" name="invertFaviconColor" [(ngModel)]="invertFaviconColor">Invert Favicon Color</mat-checkbox>
      <mat-checkbox class="dialog-form-input" name="toggleCustFav" [(ngModel)]="toggleCustomFavicon">Custom Favicon</mat-checkbox>

      <div class="custom_favicon_section" *ngIf="toggleCustomFavicon === true">
        <mat-form-field class="custom_favicon_section_textfield">
          <input class="dialog-form-input" autocomplete="off" matInput placeholder="Favicon URL" name="customFavicon" [(ngModel)]="customFavicon" [required]="toggleCustomFavicon === true">
        </mat-form-field>
        <button class="custom_favicon_section_fetch_url" mat-mini-fab color="accent" (click)="fetchCustomFaviconImageURL()">
          <mat-icon class="bookmark_link_prefix" >restart_alt</mat-icon>
        </button>
      </div>


      <div mat-dialog-actions class="create_bookmark_layout">
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" id="btn-bookmark-save"
          (click)="onSave()"
          [disabled]="!bookmarkForm.form.valid"
          >Save</button>
      </div>
    </div>
  </form>
</div>

