.bookmarks_content {
  padding-left: 0px;
}

.bookmarks_breadcrumb {
  display: block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: darkgray dashed 1px;
    font-size: small;
    font-weight: bold;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.drop_highlight {
  background-color: #E67E22;
}

.drop_highlight_not {
  background-color: #303030;
}

.bookmarks_breadcrumb a.root {
  font-weight: bold;
}

.bookmarks_breadcrumb a.root:hover {
  cursor: pointer;
}

.bookmarks_breadcrumb a.rootroot {
  font-weight: bold;
  color: darkred;
}

.bookmarks_breadcrumb a.rootroot:hover {
  cursor: pointer;
}

.bookmarks_list {
  display: block;
  /* padding-bottom: 35px; */
}

.bookmark_item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: dotted 1px #cccccc;
  cursor: move;
  height: 35px;
  min-height: 35px;
  line-height: 35px;
}

.bookmark_item:hover {
  background-color: #555555;
}

.bookmark_item:last-child {
  border-bottom: dotted 1px #cccccc;

}

.bookmark_element {
  position: relative;
}

@media (max-width: 650px) {
  .bookmark_item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: default;
  }
}


a.bookmark_name {
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  color: #cccccc;
  text-decoration: none;
}

a.bookmark_name:hover {
  text-decoration: underline;
}


a.bookmark_folder {
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
}

a.bookmark_folder:hover {
  cursor: pointer;
}

a.bookmark_url {
  font-family: 'Source Code Pro', monospace;
}

.bookmark_actions {
  float: right;
  padding: 0px;
  position: relative;
  top: -7px;
}

a.bookmark_actions {
  font-weight: bold;
  font-size: 1.2em;
}

.bookmark_child_items {
  font-weight: bold;
  position: relative;
  left: 5px;
  top: -4px;
}

.bookmark_index {
  font-weight: bold;
  color: #999999;
  font-size: 0.7em;
  width: 10px;
  display: inline-block;
}

.bookmark_path_info {
  vertical-align: top;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}

.bookmark_path_info:hover {
  text-decoration: underline;
}

.bookmark_search {
  position: relative;
  top: -18px;
  font-size: 0.9em;
}

.bookmark_search_responsive {
  font-style: italic;
}

.bookmark_path_edit_action {
  vertical-align: baseline;
}

@media (max-width: 575.98px) {

  .bookmark_path_edit_action {
    vertical-align: sub;
  }

}

.bookmark_path_edit_action:hover {
  cursor: pointer;
  color: red;
}


.bookmark_path_edit {
  /* display: block; */
  width: 95%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



@media (max-width: 575.98px) {

  .bookmark_path_edit {
    /* display: block; */
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }



}

.bookmark_node {
  position: inherit;
}

.bookmark_favicon {
  width: 24px;
  height: 24px;
  vertical-align: text-top;
}

.copy_url {
  cursor: pointer;
  position: relative;
  top: -6px;
}

.show_url {
  cursor: pointer;
  position: relative;
  top: -6px;
  font-size: 1.3em;
  padding-right: 15px;
}

.show_url:hover {
  cursor: hand;
}

.bookmark_show_url {
  display: inherit;
}


.bookmark_folder_icon {
  color: #cccccc;
  font-size: x-large;
  vertical-align: middle;
}

.badge-text {
  font-size: xx-small;
}

.add {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
  color: black;
}

.add:hover {
  color: blue;
}

.bookmark_highlight {
  padding-left: 5px;
  color: darkred;
}

.bookmark_highlight_date {
  font-weight: bold;
  font-size: smaller;
  padding-left:4px;
}

.version_1 {
  position: absolute;
  right: 15px;
  margin-top:10px;
  font-weight: bold;
}

.float_button {
  position: absolute;
  top: -12px;
  right: 160px;
}
