<div class="bookmarks_content">

    <div class="bookmarks_breadcrumb"
        (drop)="doDropText($event)"
        (dragover)="dragEnter($event, true)"
        (dragleave)="dragEnter($event, false)"

        [ngClass]="highlightDropZone ? 'drop_highlight' : 'drop_highlight_not'"
    >

      <div>
        <div class="hstack gap-3">
          <div class="">
            <span *ngFor="let p of pathElemets; let i = index">
              <span *ngIf="p === '/'">
                bookmarks:/ <a class="rootroot" (click)="gotoPath('/')">root</a>
              </span>
              <span *ngIf="p !== '/' && i &lt; pathElemets.length - 1">
                / <a class="root" (click)="gotoPath(absolutePaths[i])">{{ p }}</a>
              </span>
              <span *ngIf="p !== '/' && i === pathElemets.length - 1 ">
                / {{ p }}
              </span>
            </span>

          </div>
          <div class=" ms-auto">
            <a *ngIf="isAdmin || isUser" class="add" (click)="addBookmark('')"><i class="bi bi-plus-circle"></i> Add</a>
          </div>
          <div class="font-monospace fw-lighter d-none d-sm-block">{{ appInfo?.versionInfo?.version }}-{{ appInfo?.versionInfo?.buildNumber }}</div>
        </div>
      </div>
    </div>

    <div class="bookmarks_list" cdkDropList (cdkDropListDropped)="drop($event)">

      <div class="bookmark_item" *ngIf="bookmarks.length === 0">
        <i>no entries available</i>
      </div>

      <div cdkDrag [cdkDragStartDelay]="600" class="bookmark_item" *ngFor="let item of bookmarks; let i = index" id="{{ item.id }}">

        <span *ngIf="item.type === 'Node'" class="bookmark_node">
          <img *ngIf="item.favicon === null || item.favicon === ''" src="assets/favicon.ico"
            class="bookmark_favicon"
            width="16px" height="16px"
            alt="favicon"/>

          <img *ngIf="item.favicon !== null && item.favicon !== ''"
            [defaultImage]="defaultFavicon"
            [lazyLoad]="customFavicon(item.id)"
            class="bookmark_favicon"
            width="16px" height="16px"
            alt="favicon"/>

          <span class="badge bg-dark bookmark_path_info" *ngIf="searchMode" (click)="gotoPath(item.path)">{{ item.path }}</span>&nbsp;
          <a href="{{baseApiURL}}/api/v1/bookmarks/fetch/{{ item.id}}" class="bookmark_name">{{ item.displayName | ellipsis:ellipsisVal}}</a>

          <i *ngIf="item.highlight === 1" class="bi bi-bookmark-plus-fill bookmark_highlight"></i>
          <span *ngIf="item.highlight === 1" class="bookmark_highlight_date">({{ item.created | dfmt:'YYYY-MM-DD'}})</span>

          <span class="d-none d-sm-inline">
          </span>

        </span>

        <span *ngIf="item.type === 'Folder'" class="position-relative">
          <a class="bookmark_folder" (click)="gotoPath(item.path + '/' + item.displayName)">

          <i class="bi bi-folder2 bookmark_folder_icon" *ngIf="(item.favicon === null || item.favicon === '')">
          </i>

            <img *ngIf="item.favicon !== null && item.favicon !== ''"
            [defaultImage]="defaultFavicon"
            [lazyLoad]="customFavicon(item.id)"
            class="bookmark_favicon"
            width="16px" height="16px"
            alt="favicon"/>
            <span *ngIf="item.childCount > 0" class="badge-text position-absolute top-0 start-20 translate-middle badge rounded-pill bg-danger">{{ item.childCount }}</span>
          </a>

          <span *ngIf="searchMode">&nbsp;</span>
          <span class="badge bg-dark bookmark_path_info" *ngIf="searchMode" (click)="gotoPath(item.path)">{{ item.path }}</span>&nbsp;
          <a class="bookmark_folder" (click)="gotoPath(item.path + '/' + item.displayName)">{{ item.displayName }}</a>
        </span>



        <span class="bookmark_actions">

          <span class="copy_url" *ngIf="item.type === 'Node'" (click)="copyUrlToClipboard(item.url)">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </span>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="edit bookmark items">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteBookmark(item.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="editBookmark(item.id)">
              <mat-icon>create</mat-icon>
              <span>edit</span>
            </button>
          </mat-menu>
        </span>

      </div>
    </div>
</div>
