<div class="bookmarks_content">

    <div class="bookmarks_breadcrumb"
        (drop)="doDropText($event)"
        (dragover)="dragEnter($event, true)"
        (dragleave)="dragEnter($event, false)"

        [ngClass]="highlightDropZone ? 'drop_highlight' : 'drop_highlight_not'"
    >

    <div class="application_header">
          <div>
            <span *ngFor="let p of pathElemets; let i = index">
              <span *ngIf="p === '/'">
                 &nbsp;&nbsp;~ <button class="rootroot" mat-button color="default" (click)="gotoPath('/')">root</button>
              </span>
              <span *ngIf="p !== '/' && i &lt; pathElemets.length - 1"><strong>&gt;</strong><a class="root" mat-button color="accent" (click)="gotoPath(absolutePaths[i])">{{ p }}</a>
              </span>
              <span *ngIf="p !== '/' && i === pathElemets.length - 1 "><strong>&gt;</strong><a mat-button color="accent" >{{ p }}</a>
              </span>
            </span>
          </div>
          <div class="action_version">

              <button class="add_button" *ngIf="isAdmin || isUser" data-testid="link-add-bookmark" mat-mini-fab color="primary" aria-label="Add bookmark" (click)="addBookmark('')">
                <mat-icon>add</mat-icon>
              </button>

              <span class="font-monospace version-align">
              {{ appInfo?.versionInfo?.version }}-{{ appInfo?.versionInfo?.buildNumber }}
              </span>
          </div>
        </div>
    </div>

    <div class="bookmarks_list" cdkDropList (cdkDropListDropped)="drop($event)">

      <div class="bookmark_item" *ngIf="bookmarks.length === 0">
        <i>no entries available</i>
      </div>


      <div cdkDrag [cdkDragStartDelay]="600" class="bookmark_item" *ngFor="let item of bookmarks; let i = index" id="{{ item.id }}">

        <!-- bookmark node -->
        <span *ngIf="item.type === 'Node'" class="bookmark_node">

          <mat-icon class="bookmark_favicon" aria-hidden="false" aria-label="bookmark"
            fontIcon="bookmark" *ngIf="item.favicon === null || item.favicon === ''"></mat-icon>

          <img *ngIf="item.favicon !== null && item.favicon !== ''"
            [defaultImage]="defaultFavicon"
            [lazyLoad]="customFavicon(item.id)"
            class="bookmark_favicon"
            width="24px" height="24px"
            alt="favicon"
            [class.invert] = "item.invertFaviconColor === 1"
            />

          <span class="badge bg-dark bookmark_path_info" *ngIf="searchMode" (click)="gotoPath(item.path)">{{ item.path }}</span>&nbsp;
          <a href="{{baseApiURL}}/api/v1/bookmarks/fetch/{{ item.id}}" class="bookmark_name">{{ item.displayName | ellipsis:ellipsisVal}}</a>

          <i *ngIf="item.highlight === 1" class="bi bi-bookmark-plus-fill bookmark_highlight"></i>
          <span *ngIf="item.highlight === 1" class="bookmark_highlight_date">({{ item.created | dfmt:'YYYY-MM-DD'}})</span>

          <span class="bookmark_show_url">
            <span *ngIf="item.showUrl">&nbsp;&nbsp;&gt;&gt;</span>
            {{ item.showUrl }}
          </span>

        </span>

        <!-- bookmark folder -->
        <span *ngIf="item.type === 'Folder'" class="bookmark_element">
          <a class="bookmark_folder" (click)="gotoPath(item.path + '/' + item.displayName)">

            <!-- standard folder icon -->
            <mat-icon class="bookmark_folder_icon" aria-hidden="false" aria-label="folder"
              fontIcon="folder" *ngIf="(item.favicon === null || item.favicon === '')"
              matBadge="{{ item.childCount }}" matBadgeColor="warn"
              [matBadgeHidden]="item.childCount === 0"
              ></mat-icon>

            <!-- custom icon-->
            <span
              matBadge="{{ item.childCount }}" matBadgeColor="warn"
              [matBadgeHidden]="item.childCount === 0"
            >
              <img *ngIf="item.favicon !== null && item.favicon !== ''"
              [defaultImage]="defaultFavicon"
              [lazyLoad]="customFavicon(item.id)"
              class="bookmark_favicon"
              width="32px" height="32px"
              alt="favicon"/>
            </span>

          </a>

          <span *ngIf="searchMode">&nbsp;</span>
          <span class="badge bg-dark bookmark_path_info" *ngIf="searchMode" (click)="gotoPath(item.path)">{{ item.path }}</span>&nbsp;
          <a class="bookmark_folder" (click)="gotoPath(item.path + '/' + item.displayName)">{{ item.displayName }}</a>
        </span>

        <span class="bookmark_actions">

          <span class="show_url" *ngIf="item.type === 'Node'" (click)="ToggleShowItemUrl(item)">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </span>


          <span class="copy_url" *ngIf="item.type === 'Node'" (click)="copyUrlToClipboard(item.url)">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </span>


          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="edit bookmark items">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteBookmark(item.id, item.displayName)" id="btn-bookmark-delete">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="editBookmark(item.id)" id="btn-bookmark-edit">
              <mat-icon>create</mat-icon>
              <span>edit</span>
            </button>
          </mat-menu>

        </span>


      </div>
    </div>
</div>
