/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('assets/fonts/local.css');

.success {
  background-color: #27AE60 !important;
}

.error {
  background-color: #A93226 !important;
}

.info {
  background-color: #5DADE2  !important;
}

.mat-snack-bar-container {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin: 5px !important;
  max-width: 100vw !important;
  min-width: 85vw !important;
  padding: 14px 16px;
  min-height: 48px;
  transform-origin: center;
  color: white;
}

.mat-card-header-text {
  width: 100%;
}

html, body { margin: 0; padding: 0; height: 100%; font-family: 'Roboto Mono', monospace; font-size: 0.9em; }

/*
 overwrite some boostrap defaults
*/
button:focus {
  outline: none;
}


.my-full-screen-dialog {
  width: 50vw !important;
}

@media (max-width: 575.98px) {
  .my-full-screen-dialog {
    height: 100vh;
    width: 100vw !important;
    max-width: none !important;
  }
}

.version {
  position: absolute;
  right: 15px;
  font-weight: bold;
}

.application_title {
  display: block;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  border-bottom: darkgray dashed 1px;
  font-size: small;
  font-weight: bold;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

