.documents {
  display: block;
}

.document {
    padding: 2px;
    min-height: 180px;
    min-width: 290px;
    margin-bottom: 1px;
    text-align: left;
    display: inline-block;
}

.download {
  top: 7px;
  position: absolute;
  left: 10px;
}

.download_icon {
  color: #dddddd;
}


.add {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
  color: black;
}

.add:hover {
  color: blue;
}

.show_more_results {
  min-height: 150px;
  text-align: center;
}

.no_search_results {
  text-align: center;
}

.more__results {
    background-color: #FF9800;
}

.clear__search {
    background-color: #6C3483;
    color: white;
}

.sender-tag {
  font-size: 1.6em;
  color: #e89c5f;
}

.tag {
  font-size: 1.6em;
  color: #7c98b4;
}


.document_card {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  min-width: 500px;
  max-width: 500px;
  display: inline-flex;
}

.document_card_title {
  font-size: 20px;
  margin-left: 40px;
  top: -6px;
  position: relative;
}

.document_card_title:hover {
  cursor: pointer;
}

.document_card_footer {
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  padding: 5px;
  text-align: right;
  color: #999999;
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.senders {
 padding-bottom: 2px;
 text-align: left;
}

.tags {
  text-align: left;
  padding-bottom: 2px;
}


.amount {
  position: absolute;
  right: 15px;
  top: 10px;
  font-weight: bold;
  font-size: 1.6em;
  color: #3AA677;
}



.document_cards {
  text-align: center;
}

.invoice-number-element {
  position: absolute;
  right: 15px;
  /* bottom: 20px; */
}

.invoice-number {
  font-size: 1.0em;
  font-weight: bold;
  color: #FF9800;
  font-style: italic;
  font-family: 'Roboto Mono', monospace;
}

.invoice-number:hover {
  text-decoration: underline;
}


.float_button {
  position: absolute;
  top: -12px;
  right: 280px;
}

.label_switch_amount {
  display: inline;
}


.dimmed {
  color:#999;
}



@media (max-width: 390px) {
  .document_card {
    margin: 0px;
    margin-bottom: 5px;
    min-width: 380px;
    max-width: 380px;
    display: inline-flex;
  }

}

