<div class="documents">


    <div class="application_header application_title">
        <div class="application_name">
        ~ documents
        </div>
        <div class="action_version">

            <button class="add_button" mat-mini-fab color="primary" aria-label="Add document" (click)="addDocument()">
                <mat-icon>add</mat-icon>
            </button>

            <label class="label_switch_amount">Show Amount</label>&nbsp;<mat-slide-toggle (change)="onShowAmountChanged($event)" [(ngModel)]="showAmount" color="primary"></mat-slide-toggle>&nbsp;

            <span class="font-monospace version-align">
            {{ appInfo?.versionInfo?.version }}-{{ appInfo?.versionInfo?.buildNumber }}
            </span>
        </div>
    </div>

    <div class="document_cards">

        <mat-card class="document_card" *ngFor="let item of documents; let i = index" id="{{ item.id }}" >
            <mat-card-header>
                <mat-card-title>
                    <span class="document_card_title" matTooltip="{{ item.title }}" matTooltipPosition="below" (click)="editDocument(item)">{{ item.title | ellipsis:30 }}</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>


                <div class="senders">
                    <span class="sender-tag" *ngFor="let sender of item.senders">
                        <i *ngIf="sender != ''" class="fa fa-truck" aria-hidden="true"></i>&nbsp;{{ sender | ellipsis: 25 }}
                    </span>
                </div>
                <div class="tags">
                    <span class="tag" *ngIf="item.tags == null">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>-
                    </span>

                    <span class="tag" *ngFor="let tag of item.tags">
                        <i *ngIf="tag != ''" class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;{{ tag | ellipsis: 25 }}
                    </span>
                </div>

                <div class="download">
                    <a href="{{ baseApiUrl }}/api/v1/mydms/file/?path={{ item.previewLink }}" target="_blank" class="download_cloud"><i class="fa fa-cloud-download fa-3x download_icon" aria-hidden="true"></i></a>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div>
                    <span class="dimmed">c:</span><strong>{{ item.created | dfmt:"YYYY-MM-DD" }}</strong>
                    <span *ngIf="item.modified !=  null"><span class="dimmed">&nbsp;m:</span><strong>{{ item.modified | dfmt:"YYYY-MM-DD" }}</strong></span>

                    <span class="invoice-number-element" *ngIf="item.invoiceNumber != null">
                        <span class="dimmed">Nbr:</span>
                        <span class="invoice-number">{{ item.invoiceNumber }}</span>
                    </span>
                </div>
            </mat-card-actions>

            <div *ngIf="item.amount > 0 && showAmount === true" class="amount">&euro; {{ item.amount }}</div>


        </mat-card>

        <div *ngIf="totalEntries == 0" class="no_search_results">
            <h5>No results found - either nothing is there, or your search did not return any results!</h5>
        </div>

        <div *ngIf="shownResults < totalEntries" class="show_more_results">
            <p>Currently showing {{ shownResults }} result<span *ngIf="shownResults > 1">s</span> of total {{ totalEntries }}</p>
            <button mat-icon-button class="more__results" (click)="showMoreResults()" matTooltip="Load more results"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
        </div>

    </div>

</div>
