<mat-drawer-container  autosize>
    <mat-drawer #drawer mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>

    <mat-drawer-content>
        <div class="appcontent" style="height:100%">
            <div class="contentArea">
                <div class='col-main body-content'>
                    <app-header></app-header>
                    <!-- <button type="button" mat-button (click)="drawer.toggle()">
                        Toggle sidenav
                      </button> -->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    </mat-drawer-content>

</mat-drawer-container>
